<h1>Discount index</h1>

<h2>Store Discounts</h2>
  <% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <li><%= discount.name %></li>
    <p><%= link_to "View this discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></p>
    <p>Percent off: <%= discount.percent %></p>
    <p>Minimum order quantity: <%= discount.min_quantity %></p>
  </div>
  <% end %>
<h3>Upcoming Holidays</h3>

<div id="holidays">
  <% @holidays.each do |holiday| %>
  <li><%= holiday.name %></li>
  <p>Date: <%= holiday.date %></p>
  <% end %>
</div>
